/* Initially hide the mobile menu */
.mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    /* Add more styles as needed */
  }
  
  /* Show the menu when the 'active' class is added */
  .mobile-menu.active {
    display: block;
  }
  
  /* Optional: Styling for the menu button lines when open */
  .menu-button.open .menu-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .menu-button.open .menu-line:nth-child(2) {
    opacity: 0;
  }
  .menu-button.open .menu-line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  


  .navbar-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the logo horizontally */
    padding: 10px;           /* Adjust padding as needed */
  }
  
  /* Control the image size */
  .navbar-logo-wrapper img {
    max-height: 65px;         /* Set a maximum height for the logo */
    width: auto;              /* Maintain aspect ratio */
    object-fit: contain;      /* Ensure the logo fits nicely within its container */
  }
  
  /* Responsive adjustment for smaller screens */
  @media (max-width: 768px) {
    .navbar-logo-wrapper img {
      max-height: 40px;       /* Smaller logo on mobile */
    }
  }